body {
 border:1px solid;
 width:500px;
 margin:0 auto;
 font-family:"Times New Roman";
 font-size:120%;
}

div {
 width:90%;
}

label {
 display:block;
 float:left;
}

input:not([type="checkbox"]) {
 margin-bottom:8px;
 width:55%;
 padding:3px;
}

input[type="number"] {
 width:26.8%;
}

input[name="email"]:focus::-moz-placeholder {
 color:transparent;
}

#creditCardData {
	display:none;
}

select {
 margin-bottom:8px;
 width:55%;
 padding:3px;
 border-radius:1px;
 background-color:white;
}

#mainForm {
 width:95%;
 margin:0 auto;
}

#panel {
 margin:0 auto;
 basckground-color:orange;
}

.fieldsets {
 margin-bottom:6px;
}

.data {
 float: left;
 text-align: right;
}

#clientName {
	position:relative;
}

#agreeAndSubmit {
 text-align:center;
}

#suggestionBox {
	display:none;
	border:1px solid black;
	background-color:white;
	text-align:left;
	width:192px;
	margin-left:160px;
	margin-top:-10px;
	padding:1px;
	position:absolute;
	z-index:1;
}

#map {
	display:none;
	width:390px;
	height:300px;
	z-index:0;
}